/*About*/

.page{
    background-color: black; 

}

.display{   
    margin-top: 50px; 
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(2, 0.5fr);
    margin-right: 50px; 
    background-color: black; 
    padding-bottom: 280px; 
}
span.imageWrap_1{
    margin-left: 50px; 
}

h1.title{
    color: white; 
    font-size: 30px; 
}

p.text{
    color: white; 
    font-size: 20px; 
}

span.CText{
    color: #718ef8; 
    display: inline; 
    font-size: 20px; 
}

span.photos{
    color: #718ef8; 
    display: inline; 
    font-size: 20px; 
}