/*About*/
.page{
    background-color: black; 
}

.display{   
    margin-top: 100px; 
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    background-color: black; 
    grid-gap: 50px;
    padding-top: 0%; 
    padding-bottom: 15%;  
}

.imageWrap_1{
    display: flex; 
    margin-left:10rem;
    margin-right:10rem;
    margin-top:6.5rem;
    margin-bottom:6.5rem;
}

.left{
    width: 50%; 
}

.right{
    width: 50%; 
    margin-left: 4rem;
    align-content: center;
}

h1.title{
    color: white; 
    font-size: 32px; 
    font-weight: bold; 
}

p.text{
    color: white; 
    font-family: 'Inter', sans-serif;
    font-weight: medium;
    font-size: 18px; 
    line-height: 1.6;
}

span.CText{
    color: #2897FF;
    display: inline; 
    font-size: 18px; 
    font-weight: 400;
}

.aboutContainer{
    position: relative; 
    margin-left: 2rem; 
}

.imgContainer{
    position: absolute;
}

@media (max-width: 600px){

    .imageWrap_1{
        /*margin-left: 25px; 
        margin-right: 25px;*/
        position: none; 
        display: block;
        padding: 10px; 
        margin: 2rem; 
    }

    .left{
        width: 100%; 
    }

    .right{
        width: 100%; 
        margin:0; 
    }
    
    .display{   
        margin-top: 0px; 
        align-items: center;
        display: grid; 
        grid-template-columns: none;
        background-color: black; 
        grid-gap: none;
        padding-top: 0%; 
        padding-bottom: 0%;  
    }

    p.text{
        color: white; 
        font-size: 16px; 
        line-height: 2;
    }

    span.CText{
        color: #2897FF;
        display: inline; 
        font-size: 16px; 
    }

    h1.title{
        color: white; 
        font-size: 32px; 
        margin-top: 2rem; 
    }

}