/*About*/
.page{
    background-color: black; 
}

.display{   
    margin-top: 100px; 
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    background-color: black; 
    grid-gap: 50px;
    padding-top: 0%; 
    padding-bottom: 15%;  
}

span.imageWrap_1{
    margin-left: 25px; 
    margin-right: 25px; 
    position: relative; 
}

h1.title{
    color: white; 
    font-size: 36px; 
    margin-left: 50px; 
    margin-top: 100px; 
    font-weight: bold; 
}

p.text{
    color: white; 
    font-family: 'Inter', sans-serif;
    font-weight: medium;
    font-size: 18px; 
    line-height: 1.6;
    margin-left: 50px; 
    margin-right: 200px; 
}

span.CText{
    color: #718ef8; 
    display: inline; 
    font-size: 18px; 
    font-weight: 400;
}

@media (max-width: 600px){

    span.imageWrap_1{
        /*margin-left: 25px; 
        margin-right: 25px;*/
        position: none; 
        width: 85%; 
        display: flex;
        padding: 10px; 
    }
    
    .display{   
        margin-top: 0px; 
        align-items: center;
        display: grid; 
        grid-template-columns: none;
        background-color: black; 
        grid-gap: none;
        padding-top: 0%; 
        padding-bottom: 0%;  
    }

    p.text{
        color: white; 
        font-size: 16px; 
        line-height: 2;
        margin-left: 2rem; 
        margin-right: 2rem; 
    }

    span.CText{
        color: #718ef8; 
        display: inline; 
        font-size: 16px; 
    }

    h1.title{
        color: white; 
        font-size: 36px; 
        margin-top: 0px; 
        margin-left: 2rem;
        margin-right: 2rem;
    }

}