/*Intro*/

.page{
    margin-top: 0px; 
}

h2.intro{
  margin-top: 75px; 
  margin-left: 25px;
  font-size: 30px;
  width : 50%; 
  color: white; 
  padding-bottom: 75px;
  background-color: black; 
}

span.CText{
    color: #718ef8; 
    display: inline; 
    font-size: 30px; 
}

/*Navbar*/
nav.nav{
    height: 60px; 
	top: 0;
    position: sticky; 
    z-index: 9999;
    color: #fff; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

span.styledLink{
    padding: 0rem 2rem; 
    transition: color 0.3s;  
}

span.styledLink:hover{
    padding: 0rem 2rem; 
    color: grey;
     
}

/*footer*/
nav.footer{
    margin-top: 75px; 
    padding-left: 25px; 
    height: 60px; 
    background: #171717; 
    color: #fff; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}