/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800&display=swap');

/* Intro */

.page {
    margin-top: 0px; 
    background-color: black; 
}

.des {
    width: 70%; 
    display: flex; 
}

.conf {
    padding-top: 2rem;
    width: 30%; 
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.holder {
    justify-content: flex-end;
    display: flex;
}

.introWrap {
    padding-top: 5rem; 
    margin-left: 5rem;
    margin-right: 5rem; 
    margin-bottom: 5rem; 
    height: 30rem;
    display: flex; 
}

.bold {
    font-weight: bold; 
}

h2.intro {
    color: white; 
    background-color: black; 
    margin-bottom: 2rem; 
    display: inline; 
    font-family: 'Darker Grotesque';
    font-weight: 800;
    font-size: 32px; 
    font-style: normal;
    line-height: 2.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cmu {
    font-family: "Source Serif 4", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800; 
    color: #E0051C; 
    line-height: 1;
    text-decoration: underline;
}

.LD {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px; 
    font-weight: 600; 
    line-height: 1;
}

.CB {
    font-family: "Roboto Mono", monospace;
    font-size: 28px;
    font-weight: 800;
    color: #30DB5B; 
    text-decoration: underline;
    line-height: 1;
}

.ZD {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #DC208D;
    text-decoration: underline;
    line-height: 1;
}


span.CText {
    color: #2897FF;
    font-size: 26px; 
}

button.click{
    background: var(--background); 
    padding: 0 1rem 1rem 1rem;
    transition: 150ms;
    width: fit-content;
    margin-top: 0.5rem;
    line-height: 0.8;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 48px; 
    outline: none; 
    border: none; 
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button.clicked {
    background: var(--background-active); 
    padding: 0 1rem 1rem 1rem;
    transition: 150ms;
    width: fit-content;
    margin-top: 0.5rem;
    line-height: 0.8;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 48px; 
    outline: none; 
    border: none; 
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button.click:hover {
    background: var(--background-active);  
    cursor: pointer;
}

button.clicked:hover{
    cursor: pointer;
}


/*Navbar*/
nav.nav{
    position: sticky; 
    width: 100%; 
    height: 60px; 
	top: 0;
    z-index: 9999;
    color: #fff; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    background-color: #171717; 
    padding: 0 2rem 0 2rem;
}

.deskNav{
    background-color: rgb(240, 240, 240);
    color:black; 
    position:fixed;
    z-index:8000;
    width:100%; 
    height: 100%; 
    padding-top: 3rem; 
    padding-right: 2rem; 
    transform: 0.3s;
}

.deskLinks{
    align-items: center; 
    text-align: right;
}

h1.deskLink{
    font-size: 36px;
    font-weight: bold;
}

.cross:hover{
    transform: rotate(45deg);
    transition: 0.3s
}

span.styledLink{
    padding: 0rem 2rem; 
    transition: color 0.3s;  
    font-weight: 400; 
}

span.styledLink:hover{
    color: grey;
    font-weight: 400; 
}

/*footer*/
nav.footer{
    position: relative; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    width: 100%; 
    padding-left: 25px; 
    height: 60px; 
    background: #171717; 
    color: #fff; 
    display: inline-flex; 
    justify-content: space-between; 
    align-items: center; 
}

/*confetti*/
  
  .button {
    color: #fff;
    border: 0;
    padding: 5px;
    border-radius: 0.5em;
    z-index: 999;
    display: flex;
    height: 14rem; 
    width: 14rem; 
    background-color: #212121; 
    transition: 0.3s;
  }

  .button:hover{
      cursor: help; 
      background-color: #373737; 
  }
  
  .button:active {
    transform: scale(1.02);
    transition: 0.1s;
  }

  .invisible{
    opacity: 0;
    width: 0; 
    height: 0;  
}

.projects{
    margin: 5rem; 
}

a.links{
    color: white; 
    font-size: 16px; 
    padding: 1rem 1rem 1rem 1rem; 
    background-color: #212121; 
    margin-right: 15px; 
    border-radius: 8px; 
    width: 40%; 
    box-sizing: border-box;
    border: 3px solid #212121; 
    transition: 300ms;
 }

 a.links:hover{
    border: 3px solid #2897FF;
    background-color: #2d2d2d;
 }

 .toggle{
    display: block; 
    margin: 0 5rem 0 5rem; 
 }

@media (min-width: 1800px){
    .des {
        width: 85%; 
        display: flex; 
    }

    .conf {
        padding-top: 2rem;
        width: 15%; 
        justify-content: space-between;
        flex-direction: column;
        display: flex;
    }
}

@media (max-width: 500px){

    nav.nav{
        padding-left: 1.5rem; 
        position: none; 
        width: 100%; 
        height: 60px; 
        top: 0;
        z-index: 9999;
        color: #fff; 
        display: flex; 
        justify-content: space-between;
        align-items: center; 
        background-color: #171717; 
    }

    nav.footer{
        position: relative; 
        width: 100%; 
        height: 60px; 
        background: #171717; 
        color: #fff; 
        /*display: inline-flex;*/
        justify-content: space-between; 
        align-items: center; 
        margin-top: 2rem; 
    }

    span.styledLink{
        padding: 1em; 
        transition: color 0.3s;  
    }
    .des{
        width: 100%; 
        display: block; 
    }

    .intro{
        width: 100%; 
    }

    .break {
        width: 30%;
        margin: 0px;
        border: 0.5px solid white; 
    }    

    .conf{
        width: 0
    }

    h2.intro{
        font-size: 32px;
        color: white; 
        background-color: black;
        line-height: 1.4;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: 800;
      }

    span.CText {
        color: #2897FF;
        font-size:14px; 
    }
    

    .introWrap{
        margin-top: 2rem; 
        margin-bottom: 2rem; 
        margin-left: 2rem;
        margin-right: 2rem; 
        padding-top: 0rem; 
        height: fit-content;
    }

    .curr{
        font-size: 14px; 
        color: white; 
        line-height: 1.8;
    }

    .exp {
        margin-top: 1rem;  
    }

    .button{
        display: none; 
    }

    .projects{
        margin: 0rem; 
    }

    a.links{
        color: white; 
        font-size: 14px; 
        padding: 0.5rem 0.5rem 0.5rem 0.5rem; 
        background-color: #2d2d2d; 
        margin-right: 8px; 
        border-radius: 8px; 
        box-sizing: border-box;
        border: 3px solid #2d2d2d; 
        transition: 300ms;
     }

    .toggle{
        margin: 0 2rem 0 2rem; 
    }

    button.click{
        background: var(--background); 
        padding: 0 0.5rem 1rem 0.5rem;
        transition: 150ms;
        width: fit-content;
        margin-top: 0.5rem;
        line-height: 0.4;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: 800;
        font-size: 48px; 
        outline: none; 
        border: none; 
        border-radius: 4px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    button.clicked {
        background: var(--background-active); 
        padding: 0 0.25rem 0.5rem 0.25rem;
        transition: 150ms;
        width: fit-content;
        margin-top: 0.5rem;
        line-height: 0.4;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: 800;
        font-size: 48px; 
        outline: none; 
        border: none; 
        border-radius: 4px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
