/*Intro*/
h2.intro{
  margin-top: 0px; 
  margin-left: 25px;
  font-size: 30px;
  width : 50%; 
  color: white; 
  padding-bottom: 50px;
  background-color: black; 
}

/*Navbar*/
nav.nav{
    height: 80px; 
    background: #000; 
    color: #fff; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

span.styledLink{
    padding: 0rem 2rem; 
}

/*footer*/
nav.footer{
    padding-left: 25px; 
    height: 60px; 
    background: #303030; 
    color: #fff; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}