.play{
background-color: black; 
}
 
.temp{
border:1px solid #303030; 
}

h1.title{
margin-left: 200px; 
color: white; 
margin-top: 75px; 
margin-bottom: 100px; 
font-family: neue-haas-grotesk-text, sans-serif;
}

p.intro{
    font-size: 30px; 
    display: inline-flex; 
    margin-left: 200px; 
    margin-bottom: 50px; 
    color: white; 
    font-family: neue-haas-grotesk-text, sans-serif;
    }

p.description{
font-size: 20px; 
display: inline-flex; 
float: right; 
color: white; 
margin-right: 200px; 
margin-top: 40px; 
font-family: neue-haas-grotesk-text, sans-serif;
}

.sketchGallery{
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(3, 0.5fr);
}

.photoGallery{
    margin-right: 200px; 
    margin-left: 200px; 
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(3, 0.5fr);
    grid-gap:20px; 
}

.sep{
    margin-bottom:20px; 
}

.singlePhoto{
    margin-right: 200px; 
    margin-left: 200px; 
}