.play{
background-color: black; 
}
 
.temp{
border:1px solid #303030; 
}

.exp{
    display: flex; 
    margin: 5rem 5rem 0 5rem; 
}

h1.title{
margin-left: 5rem; 
color: white; 
margin-top: 75px; 
margin-bottom: 100px; 
}

p.intro{
    font-size: 30px; 
    display: inline-flex; 
    color: white; 
 }

p.description{
font-size: 20px; 
display: inline-flex; 
float: right; 
color: white; 
margin-left: auto;
}

.photoGallery{
    margin-right: 5rem; 
    margin-left: 5rem; 
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(3, 0.5fr);
    grid-gap:20px; 
}

.sep{
    margin-bottom:20px; 
}

.singlePhoto{
    margin-right: 5rem; 
    margin-left: 5rem; 
}

.spreads{
    margin-top: 1rem; 
}

@media (max-width: 600px){
    .exp{
        display: flex; 
        margin: 2rem 2rem 0 25px; 
    }


    h1.title{
        margin-left: 25px; 
        margin-right: 25px; 
        color: white; 
        margin-top: 75px; 
        margin-bottom: 100px; 
        }

    p.intro{
        font-size: 16px; 
        display: block; 
        margin-bottom: 50px; 
        color: white; 
        margin-right: 3rem; 
    }

    p.description{
        font-size: 16px; 
        display: block; 
        color: white; 
        }

        .photoGallery{
            margin-right: 25px; 
            margin-left: 25px; 
            align-items: center;
            display: block; 
            grid-gap: 20px; 
        }

        .singlePhoto{
            margin-right: 25px; 
            margin-left: 25px; 
        }
}