/*Projects*/

.gallery{
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(2, 0.5fr);
}

.projectRow{
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}

.temp{
    margin: 5rem 10rem 5rem 10rem; 
}

.projects{
    margin: 0 5rem 0 5rem; 
}

a.styledLink{
    text-decoration: none;
}

p.words{
    font-size: 16px; 
    color: lightgrey;
}

p.words:hover{
    color: lightgrey;
    font-weight: 400; 
}

.overLay{
    background-color : transparent; 
    width: 48%; 
    height: 50%; 
    overflow: hidden; 
    position: absolute; 
    z-index: 1

}

iframe.ytplayer{
    z-index: 0; 
    position: relative
}

.imageWrap{
    display: inline-block; 
    width: 49%;
    margin-bottom: 2rem; 
    border-radius: 1rem; 
    background-color: var(--background); 
    overflow: hidden;  
    transition: 0.5s;  
    border: var(--background) 2px solid; 
}

.siriImg{
    display: flex; 
    justify-content: space-between;
}

.siriImg1{
    width: 57%
}

.siriImg2{
    width: 42%
}

.imageWrap:hover{
    background-color: var(--background-active);
    border: var(--card-active) 2px solid; 
}

.cardDes{
    display: flex; 
    margin: 0.5rem 1rem 0.5rem 1rem; 
}

.cardLeft{
    width: 85%; 
}

.cardRight{
    opacity: 0%;
    width: 15%; 
    margin-top: 1.5rem; 
    transition: 0.5s;
    text-align: right;
}

.imageWrap:hover .cardRight{
    opacity: 100%
}

.ytplayer{
    pointer-events: none;
    position: absolute;
}

/* Individual Project Pages*/

.space{
    margin-bottom: 10rem; 
}

.main{
    background-color: black;
    padding-right: 10rem; 
    padding-left: 10rem; 
    padding-top: 5rem; 
    padding-bottom: 5rem; 
}

.page{
    margin-top: 3rem;
    margin-bottom: 3rem;  
    align-items: center;
    display: grid; 
    grid-template-columns: 1fr 8fr;
    grid-gap: 5em;
}

.intro{
    margin-top: 0px; 
    margin-bottom: 50px; 
    display: flex; 
}

.role{
    width: 30%; 
}

.cont{
    padding-left: 5rem; 
    display: block; 
    width: 65%; 
}

.project{
    margin-bottom: 10rem; 
}

h1.title{
    color: white; 
    font-size: 24px; 
}

h1.mTitle{
    color: white; 
    font-size: 48px; 
}

h1.pTitle{
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    color: white; 
    font-size: 42px; 
}

h1.bTitle{
    margin-top: 0; 
    margin-bottom: 0.5rem; 
    color: rgb(148, 148, 148); 
    font-size: 36px; 
    font-weight: bold; 
}

.center{
    margin-right: 100px; 
    text-align: center;
}

p.d {
    font-size: 18px; 
    color: rgb(148, 148, 148); 
    font-size: 12px; 
    line-height: 1.4; 
    font-weight: 600; 
}
p.d2 {
    color: rgb(148, 148, 148); 
    display: inline; 
    font-size: 16px; 
    line-height: 1.8; 
    font-weight: 400; 
    vertical-align: text-top
}

p.d1 {
    color: rgb(224, 127, 0); 
    display: inline; 
    font-size: 16px; 
    font-weight: bold;
    line-height: 1.8; 
    vertical-align: text-top
}


p.text{
    color: white; 
    display: inline; 
    font-size: 16px; 
    line-height: 1.7; 
    font-weight: 400; 
    vertical-align: text-top
}

.centered{
    justify-content: center;
}
.image_1{
    align-items: center;
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
    margin-top: 25px; 
}

.image_2{
    margin-top: 25px; 
    margin-bottom: 25px; 
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(2, 0.5fr);
    grid-column-gap: 10px;
}

.image_3{
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(3, 2fr);
    grid-column-gap: 10px;
    margin-top: 25px; 
}

.image_4{
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(2, 0.5fr);
    grid-column-gap: 10px;
    margin-top: 0.75rem; 
}

.image_5{
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(4, 0.5fr);
    grid-column-gap: 10px;
    margin-top: 0.75rem; 
    margin-bottom: 3rem; 
}

a.links{
   color: white; 
   font-size: 16px; 
   padding: 1rem 2rem 1rem 1rem; 
   background-color: #212121; 
   margin-right: 15px; 
   border-radius: 5px; 
   width: 40%; 
   border: 3px solid #212121; 
}

a.links:hover{
    transition: 0.3s;
    border: 3px solid var(--card-active);
    background-color: #2d2d2d;
 }

 a.links_1{
    color: white; 
    font-size: 20px; 
    padding: 15px; 
    background-color: #2d2d2d; 
    border-radius: 10px; 
    margin-top: 2rem; 
 }

 a.links_1:hover{
    color: darkgray; 
    transition: 0.3s
 }

 a.links_col{
    color: white; 
    font-size: 12px; 
    padding: 5px 7px 5px 7px; 
    background-color: #2d2d2d; 
    border-radius: 5px; 
    margin-top: 2rem; 
 }

 a.links_col:hover{
    color: darkgray; 
    transition: 0.3s
 }

.invisible{
    display: None; 
}

.divider{
    display: block; 
    height: 1px; 
    border: 0;
    border-top: 1px solid rgb(88, 88, 88); ; 
}

.progressContainer {
    width: 15%;
    height: 6px;
    background: #ddd;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    overflow: hidden;
    margin: 2rem 0 4rem 0;
}

.progressBar {
    height: 100%;
    background: #8f8f8f;
    transition: width 0.2s ease-in-out;
}

 @media (min-width: 2000px) {
    .main{
        background-color: black;
        padding-right: 30rem; 
        padding-left: 30rem; 
    }

 }

@media (max-width: 600px) {

    .main{
        background-color: black;
        padding-right: 2rem; 
        padding-left: 2rem; 
        padding-top: 2rem; 
        padding-bottom: 2rem; 
    }

    .temp{
        margin: 5rem 2rem 5rem 2rem; 
    }

    .projects{
        margin: 0; 
    }

    .gallery {
        align-items: center;
        display: grid;
        grid-template-columns: none; 
    }

    .page{
        margin-right: 25px; 
        margin-left: 25px; 
        margin-top: 0px; 
        margin-bottom: 3rem; 
        align-items: center;
        display: block; 
        grid-template-columns: none;
        grid-gap: none;
    }

    .role{
        width: 100%; 
    }

    .cont{
        margin-top: 1rem; 
        width: 100%; 
        padding-left: 0; 
    }

    .projectRow{
        display: block;  
        flex-wrap: none;
        margin-right: 0; 
        margin-left: 0; 
        margin-bottom: 0;
        padding: 0; 
    }

    .imageWrap{
        width: 80%; 
        display: inline-block; 
        margin-right: 2rem; 
        margin-left: 2rem; 
        overflow: hidden;  
        transition: background-color 0.5s;  
    }

    .imageWrap:nth-child(even){
        margin-left: 2rem;
        margin-right: 0; 
    }

    .imageWrap:hover .cardRight{
        opacity: 0%; 
    }

    .empty{
        width: 0px; 
        height: 0px; 
        z-index: -1;      
    }

    h1.title{
        line-height: 1; 
    }
    
    h1.mTitle{
        color: white; 
        font-size: 30px; 
        line-height: 1.2;
    }

    h1.pTitle{
        margin-top: 15px; 
        color: white;
        font-weight: 600;
        font-size: 30px; 
    }
    
    h1.bTitle{
        margin-top: 10px; 
        color: rgb(148, 148, 148); 
        font-size: 24px; 
    }

    .intro{
        display: block; 
        margin-top: 0px; 
        margin-bottom: 3rem; 
        align-items: center;
        grid-template-columns: none;
        grid-gap: none;
    }

    p.text{
        font-size: 16px; 
        line-height: 1.8; 
    }

    p.d{
        font-size: 16px; 
    }

    p.d2 {
        font-size: 16px; 
        line-height: 1.6; 
    }
    
    p.d1 {
        font-size: 16px; 
        line-height: 1.6;
    }

    p.words{
        font-size: 14px; 
        color: lightgrey;
    }

    .project{
        margin-bottom: 5rem; 
    }

    .image_1{
        align-items: center;
        display: block; 
        grid-template-columns: none;
        grid-column-gap: none;
        margin-top: 10px; 
        margin-bottom: 50px; 
    }
    
    .image_2{
        margin-top: 10px; 
        margin-bottom: 50px; 
        align-items: center;
        display: block; 
        grid-template-columns: none;
        grid-column-gap: none;
    }
    
    .image_3{
        align-items: center;
        display: block; 
        grid-template-columns: none;
        grid-column-gap: none;
        margin-top: 10px; 
        margin-bottom: 50px; 
    }

    .image_4{
        align-items: center;
        display: block; 
        grid-template-columns: none;
        grid-column-gap: none;
        margin-top: 1px; 
        margin-bottom: 1px; 
    }

    .image_5{
        align-items: center;
        display: block; 
        grid-template-columns: none;
        grid-column-gap: none;
        margin-top: 1px; 
        margin-bottom: 1px; 
    }

    .progressContainer {
        width: 25%;
        margin: 1rem 0 1rem 0;
    }

    .siriImg{
        display: block;
    }
    
    .siriImg1{
        width: 100%
    }
    
    .siriImg2{
        width: 100%
    }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) { 
    .imageWrap{
        display: inline-block; 
        width: 40%;
    }

}
