/*Projects*/
.gallery{
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(2, 0.5fr);
}

a.styledLink{
    text-decoration: none;
}

p.words{
    color: white; 
    
}

p.words:hover{
    color: lightgrey;
}

h1.title{
    color: white; 
    font-size: 20px; 
    font-family: 'Graphik', sans-serif;
}

.imageWrap{
    padding-top: 10px; 
    padding-left: 12px; 
    padding-right: 10px; 
    margin-left: 20px; 
    margin-right: 20px; 
    margin-bottom: 50px; 
    border-radius: 10px; 
    background-color: #212121; 
    overflow: hidden;  
    transition: background-color 1s;  
}

.imageWrap:hover{
        background-color: #373737; 
}


/* Individual Project Pages*/

.page{
    margin-top: 0px; 
    margin-right: 175px; 
    margin-left: 175px; 
    align-items: center;
    display: grid; 
    grid-template-columns: 1fr 3fr;
    grid-gap: 5em;
    padding-bottom: 50px; 
}

h1.pTitle{
    margin-top: 25px; 
    color: white; 
    font-size: 40px; 
    font-family: 'Graphik', sans-serif;
}

h1.bTitle{
    margin-top: 25px; 
    color: rgb(148, 148, 148); 
    font-size: 40px; 
    font-family: 'Graphik', sans-serif;
}

p.d {
    color: rgb(148, 148, 148); 
    display: inline; 
    padding-bottom: 15px; 
}

.cont{
    position: relative; 
}


p.text{
    font-size: 20px; 
    line-height: 150%; 
    font-family: 'Graphik', sans-serif;
}

.image_1{
    align-items: center;
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
}

.image_2{
    margin-right: 175px; 
    margin-left: 175px; 
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(2, 0.5fr);
    grid-column-gap: 10px;
}

