/*Projects*/
.gallery{
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(2, 0.5fr);
}

.projectRow{
    display: flex;  
    flex-wrap: wrap;
    margin-right: 50px; 
    margin-left: 50px; 
}

a.styledLink{
    text-decoration: none;
}

p.words{
    color: white; 
}

p.words:hover{
    color: lightgrey;
}

h1.title{
    color: white; 
    font-size: 20px; 
    font-family: neue-haas-grotesk-text, sans-serif;
}

.overLay{
    background-color : transparent; 
    width: 46%; 
    height: 50%; 
    overflow: hidden; 
    position: absolute; 
    z-index: 1

}

iframe.ytplayer{
    z-index: 0; 
    position: relative
}

.imageWrap{
    width: 47%; 
    display: inline-block; 
    margin-right: 10px; 
    margin-left: 30px; 
    padding-top: 10px; 
    padding-left: 10px; 
    padding-right: 10px; 
    margin-bottom: 50px; 
    border-radius: 10px; 
    background-color: #212121; 
    overflow: hidden;  
    transition: background-color 0.5s;  
}

.imageWrap:hover{
    background-color: #373737; 
}

.ytplayer{
    pointer-events: none;
    position: absolute;
}

/* Individual Project Pages*/

.page{
    margin-right: 225px; 
    margin-left: 225px; 
    margin-top: 25px; 
    align-items: center;
    display: grid; 
    grid-template-columns: 1fr 3fr;
    grid-gap: 5em;
}

.intro{
    margin-top: 0px; 
    margin-right: 225px; 
    margin-left: 225px; 
    margin-bottom: 25px; 
    align-items: center;
    display: grid; 
    grid-template-columns: 1fr 3fr;
    grid-gap: 5em;
}

h1.mTitle{
    color: white; 
    font-size: 45px; 
    font-family: neue-haas-grotesk-text, sans-serif;
}

h1.pTitle{
    margin-top: 50px; 
    color: white; 
    font-size: 50px; 
    font-family: neue-haas-grotesk-text, sans-serif;
}

h1.bTitle{
    margin-top: 75px; 
    color: rgb(148, 148, 148); 
    font-size: 30px; 
    font-family: neue-haas-grotesk-text, sans-serif;
}

.center{
    margin-right: 100px; 
    text-align: center;
}

p.d {
    font-size: 18px; 
    color: rgb(148, 148, 148); 
}
p.d2 {
    color: rgb(148, 148, 148); 
    display: inline; 
    padding-bottom: 15px; 
    font-size: 18px; 
}

p.d1 {
    color: rgb(224, 127, 0); 
    display: inline; 
    padding-bottom: 15px; 
    font-size: 18px; 
}

.cont{
    position: relative; 
}


p.text{
    font-family: neue-haas-grotesk-text, sans-serif;
    font-size: 20px; 
    line-height: 180%; 
}

.image_1{
    align-items: center;
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
    margin-top: 25px; 
}

.image_2{
    margin-top: 25px; 
    margin-bottom: 25px; 
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(2, 0.5fr);
    grid-column-gap: 10px;
}

.image_3{
    align-items: center;
    display: grid; 
    grid-template-columns: repeat(3, 0.5fr);
    grid-column-gap: 10px;
    margin-top: 25px; 

}

@media (max-width: 600px) {
    .gallery {
        align-items: center;
        display: grid;
        grid-template-columns: none; 
    }

    .page{
        margin-right: 25px; 
        margin-left: 25px; 
        margin-top: 0px; 
        margin-bottom: 75px; 
        align-items: center;
        display: block; 
        grid-template-columns: none;
        grid-gap: none;
    }

    .projectRow{
        display: flex;  
        flex-wrap: wrap;
        margin-right: 25px; 
        margin-left: 25px; 
    }

    .imageWrap{
        width: 87%; 
        display: inline-block; 
        margin-right: 25px; 
        margin-left: 25px; 
        overflow: hidden;  
        transition: background-color 0.5s;  
    }

    .empty{
        width: 0px; 
        height: 0px; 
        z-index: -1;      
    }

    h1.pTitle{
        margin-top: 15px; 
        color: white; 
        font-size: 50px; 
        font-family: neue-haas-grotesk-text, sans-serif;
    }
    
    h1.bTitle{
        margin-top: 10px; 
        color: rgb(148, 148, 148); 
        font-size: 30px; 
        font-family: neue-haas-grotesk-text, sans-serif;
    }
    

    .intro{
        display: block; 
        margin-top: 0px; 
        margin-right: 25px; 
        margin-left: 25px; 
        margin-bottom: 50px; 
        align-items: center;
        grid-template-columns: none;
        grid-gap: none;
    }

    p.text{
        font-family: neue-haas-grotesk-text, sans-serif;
        font-size: 16px; 
        line-height: 180%; 
        margin-bottom: 50px; 
    }

    p.d{
        font-size: 18px; 
    }

    p.d2 {
        color: rgb(148, 148, 148); 
        display: inline; 
        padding-bottom: 10px; 
        font-size: 18px; 
    }
    
    p.d1 {
        color: rgb(224, 127, 0); 
        display: inline; 
        padding-bottom: 10px; 
        font-size: 18px; 
    }

    .image_1{
        align-items: center;
        display: block; 
        grid-template-columns: none;
        grid-column-gap: none;
        margin-top: 10px; 
        margin-bottom: 50px; 
    }
    
    .image_2{
        margin-top: 10px; 
        margin-bottom: 50px; 
        align-items: center;
        display: block; 
        grid-template-columns: none;
        grid-column-gap: none;
    }
    
    .image_3{
        align-items: center;
        display: block; 
        grid-template-columns: none;
        grid-column-gap: none;
        margin-top: 10px; 
        margin-bottom: 50px; 
    
    }

}
